<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>LOGIN</h2>

<form action="http://localhost:9090/user/login" method="Get">
  <label for="username">First name:</label><br>
  <input type="text" id="username" name="username" value=""><br>
  <label for="passeword">Last name:</label><br>
  <input type="password" id="passeword" name="passeword" value=""><br><br>
  <input type="submit" value="Submit">
</form>



</body>
</html>